extends layout

block content
    .d-flex.align-items-center.justify-content-center.flex-column(style="height: 73%;")
        .col-6
            form.d-flex.justify-content-center.flex-column(action="" method="post" style="height: 73%;")
                .form-group.form-floating
                    input.form-control(type="password" name="passcode" id="passcode")
                    <label for="passcode" >Secret Passcode</label>
                <button class="btn btn-primary m-2" type="submit">join the club</button>
            if error
                p.alert.alert-warning= error
