extends layout

block content
    .d-flex.align-items-center.justify-content-center 
        .row.col-6
            h1 Sign in
            form(action="" method="post")
                .form-floating.form-group
                    input.form-control(type="email" name="email" id="email" value= email ? email : null )
                    <label for="email" >Email</label>
                .form-group.form-floating
                    input.form-control(type="password" name="password" id="password")
                    <label for="password" >Password</label>
                <button class="btn btn-primary m-2" type="submit">Sign in</button>
                if error
                    p.alert.alert-warning= error
